.info {
  &__container{
    padding: 88px 0 594px;
    background-image: url("../img/Devices.png");
    background-repeat: no-repeat;
    background-size: 804px 918px;
    background-position: 50% 352px;

  }
  &__title {
    margin: 0 0 30px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
  }

  &__text {
    width: 655px;
    margin:  0 auto 30px;
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    color: $text-default;
  }

  &__buttons{
    margin: 0 auto;
    width: 362px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
