.page-header {
  position: relative;
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-size: 1920px 1043px;
  background-position: 50% 0;

  &__container {
    display: flex;
    min-height: 100px;
    align-items: center;
  }

  &__navigation{
    margin: 0 0 0 893px;
  }

}
